.cover-image-snackbar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.avatar-image-snackbar {
    position: absolute;
    top: 60%;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}
